/*pruebas colores*/
.solid-color{
    background: yellow;
}

.solid-color-2{
    background: green;
}

.vcenter {
    display: flex;
    align-items: center;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}




/*User Card*/
.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

.create-space{
    margin: 0 !important;
    margin-bottom: 2em !important;
    margin-top: 0.5em !important;
}

.displayNone{
    display: none;
}





#card-base{
    background: black;
    height: 43em;
    padding-top: 2em;
    color: white;
    overflow: hidden;

    -webkit-box-shadow: 2px 10px 8px -4px rgba(0,0,0,0.42);
    -moz-box-shadow: 2px 10px 8px -4px rgba(0,0,0,0.42);
    box-shadow: 2px 10px 8px -4px rgba(0,0,0,0.42);
}


#card-name{
    color: white;
    font-size: 3.4em;
    line-height: 1.1em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

#card-info-name{
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    margin-bottom: 0.2em;
    overflow: hidden;
}

#card-info-fullname{
    margin: 0em !important;
}

#card-info-job{
    font-size: 0.5em;
}

#card-info-back{
    margin-bottom: 4em;
}

.no-button-style{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

#card-info-back > button > div > img{
    max-width: 100%;
    height: 2em;
}




.card-options-buttons{
    border: 0;
    background: none;
    display: inline-block;
    width: 100%;
    margin: 0 auto;

    text-align: center;
    font-weight: bold;

    padding: 9px 0px 9px 0px;

    margin-bottom: 20px;
    margin-top: 10px;


    border: 2px solid white;
    outline: none;
    color: white;
    border-radius: 18px;

    transition: 0.25s;
    cursor: pointer;
}



#card-profile-image{
	width: 90%;
    height: 100%;
    margin: auto;
    
    position: absolute;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;

    top: 0;
    left: 0;
    right: 0;

    opacity: 0.15; 
    text-align: center;
}

.card-contact-info{
    border: 0;
    background: none;
    display: inline-flex;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: right;
    border: 2px solid white;
    padding: 0px 15px 0px 15px;
    width: max-content;
    outline: none;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 20px;
    float: right;
}

.card-contact-info > p{
    margin-top: 0.5em;
}

#card-button-front{
    margin-top: 5em;
    min-height: 3em;
    z-index: 100;
}

#card-button-front > button > div > img{
    max-width: 100%;
    max-height: 100%;
}